<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921101427915-lqd8nd5cmk9ui5v72adfv5ns5nns6791.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921101427915-lqd8nd5cmk9ui5v72adfv5ns5nns6791</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>921101427915-dhm6mvdauktvnu2k8j8u3j0b5nv8b5bl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnkgQ1o3_B1G5gPk_4RD8nKmSY4HEDEhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>921101427915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orchidsEmporium</string>
	<key>PROJECT_ID</key>
	<string>orchids-emporium</string>
	<key>STORAGE_BUCKET</key>
	<string>orchids-emporium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921101427915:ios:083dfc84dfb1da20c6674e</string>
</dict>
</plist>